@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Turno solicitado";
}

<div class="alert alert-success mt-4">
    <h4 class="alert-heading">¡Turno solicitado con éxito!</h4>
    <p>Tu solicitud fue registrada correctamente y se encuentra <strong>en espera</strong>.</p>
    <p>En breve será confirmada por el consultorio. Revisá tu correo o volvé a consultar el estado.</p>
    <hr>
    <a href="/" class="btn btn-primary">Volver al inicio</a>
</div>
