body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: #2f4f4f;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.sidebar nav ul li a:hover {
  text-decoration: underline;
}

.contenido {
  flex: 1;
  padding: 30px;
  background-color: #f4f4f4;
}

#titulo {
  font-size: 24px;
}

.especialidad {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.especialidad h3 {
  margin: 0;
  color: #2b4ca3;
}
