@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Inicio";
}

<h2>Bienvenido a Salud Total</h2>
<p>Desde aquí podés solicitar turnos, consultar su estado y conocer a nuestros profesionales.</p>
